<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065140481985-odbjum4k1qjtu9iahfvbgq0nl1sd050p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065140481985-odbjum4k1qjtu9iahfvbgq0nl1sd050p</string>
	<key>API_KEY</key>
	<string>AIzaSyAwweQjvhweFGCevOcAd7RxyfX5QEAt7Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>1065140481985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>club.antra.antra</string>
	<key>PROJECT_ID</key>
	<string>antra-club</string>
	<key>STORAGE_BUCKET</key>
	<string>antra-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065140481985:ios:1844d2e5a84b62d50a8940</string>
</dict>
</plist>